/minimum_working_example/\.ipynb_checkpoints
/*/serve
/*/input
/minimum_working_example/gaussian1.png
/minimum_working_example/pipeline_diagram.png
/minimum_working_example/pipeline_diagram.pptx
/minimum_working_example/sinusoidal1.png